[submodule "ext/bliss"]
	path = ext/bliss
	url = git@bitbucket.org:AluruLab/bliss.git
[submodule "ext/mxx"]
	path = ext/mxx
	url = git@bitbucket.org:tcpan/mxx.git
[submodule "ext/velvet"]
	path = ext/velvet
	url = https://cjain7@bitbucket.org/cjain7/velvetcopy.git
