[submodule "ext/bliss"]
	path = ext/bliss
	url = git@bitbucket.org:AluruLab/bliss.git
[submodule "ext/psac-copy"]
	path = ext/psac-copy
	url = git@github.gatech.edu:pflick3/psac-copy.git
[submodule "ext/velvet"]
	path = ext/velvet
	url = https://github.com/dzerbino/velvet.git
[submodule "ext/mxx"]
	path = ext/mxx
	url = git@bitbucket.org:tcpan/mxx.git
